.jumbotron {
    position: relative;
    background-image: url(profile2.jpg);
	background-size: cover ;
	background-position: center;
    font-family: "Georgia";
    color: black ;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

